.err-msg{
    color: #ff5500;
    padding-left: 10px;
}
.sub-title {
    color: #888;
    font-size: 14px;
    padding: 15px 0 9px 15px;
}
.am-tab-bar{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.fixed-header .am-navbar{
    position: fixed;
    top: 0;
    width: 100%;
}
.page-content{
    padding: 45px 5px;
}